<!doctype html>
<title>graphql upload</title>
<h2>Select file(s) to upload</h2>
<p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
</p>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
        <p>
            <span>graphqls文件</span> <input type="file" name="files[]" multiple="true" autocomplete="off" required
                                           title="请选择项目的graphqls文件，需多选">
        </p>
        <p>
            <span>项目名称</span> <input type="text" name="project" value="pjm" title="项目名称">
        </p>
    </dl>
    <p>
        <input type="submit" value="Submit">
    </p>
</form>

<pre>


# 可以在代码中使用这样的方式获取上传的文件，无需使用浏览器
import os,requests
def upload():
    dir='/Users/junqiang.zhang/repo/go/dms-project/graph/schema'  #存在graphqls文件的目录
    files = []
    for i in os.listdir(dir):
        fn= os.path.join(dir, i)
        files.append(('files[]', open(fn, 'rb')))
    requests.post('http://127.0.0.1:5000/',files=files)
upload()



</pre>